## Import Data

Import Library

In [17]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

Read dataset

In [3]:
df0 = pd.read_csv('input/ecommerce_dataset_+1m.csv')
df0.head()

,order_id,order_date,order_year,order_month,order_day,order_hour,order_minute,order_second,is_weekend,order_status,...,campaign_source,device_type,traffic_source,session_duration_minutes,pages_visited,abandoned_cart_before,fraud_risk_score,profit_margin_percent,order_priority,support_ticket_created
0,ORD-XAJI0,2024-10-14 11:20:05.496679,2024,10,14,11,20,5,No,Completed,...,Email,Mobile,Search,52.1,13,No,45.3,28.66,Medium,Yes
1,ORD-NHJ7X,2024-10-21 00:49:44.681065,2024,10,21,0,49,44,No,Completed,...,Google Ads,Desktop,Referral,36.2,15,No,97.1,33.91,Low,Yes
2,ORD-YTJXE,2025-03-17 19:49:36.983317,2025,3,17,19,49,36,No,Completed,...,Facebook,Tablet,Search,43.1,13,No,43.8,52.77,High,No
3,ORD-EIMVI,2024-09-27 06:24:44.913768,2024,9,27,6,24,44,No,Completed,...,Instagram,Mobile,Direct,39.5,18,Yes,96.9,38.15,Low,Yes
4,ORD-OR56F,2025-05-21 17:10:48.401882,2025,5,21,17,10,48,No,Completed,...,Facebook,Tablet,Social,28.0,3,Yes,45.8,33.05,High,Yes

In [7]:
df0.tail()

,order_id,order_date,order_year,order_month,order_day,order_hour,order_minute,order_second,is_weekend,order_status,...,campaign_source,device_type,traffic_source,session_duration_minutes,pages_visited,abandoned_cart_before,fraud_risk_score,profit_margin_percent,order_priority,support_ticket_created
1000118,ORD-MH6TM,2024-08-21 19:30:06.902744,2024,8,21,19,30,6,No,Completed,...,Affiliate,Mobile,Search,13.6,1,Yes,99.8,45.23,High,Yes
1000119,ORD-ILXX0,2024-04-05 09:58:34.625191,2024,4,5,9,58,34,No,Cancelled,...,Google Ads,Tablet,Email,30.2,13,No,36.7,49.46,Low,Yes
1000120,ORD-O2H6B,2024-11-09 21:15:09.983331,2024,11,9,21,15,9,Yes,Completed,...,Google Ads,Desktop,Direct,43.4,1,No,51.2,45.83,High,Yes
1000121,ORD-EGD60,2025-10-17 12:48:19.451188,2025,10,17,12,48,19,No,Completed,...,Facebook,Mobile,Email,30.7,9,No,72.4,41.07,High,Yes
1000122,ORD-HBJAD,2025-04-17 15:30:36.405483,2025,4,17,15,30,36,No,Completed,...,Facebook,Desktop,Search,43.2,4,Yes,25.9,42.64,Low,Yes

Sort by order_date and reset index

In [11]:
df0.sort_values(by='order_date', inplace=True)
df0.reset_index(drop=True, inplace=True)

Information of all Columns

In [12]:
df0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000123 entries, 0 to 1000122
Data columns (total 62 columns):
 #   Column                    Non-Null Count    Dtype
---  ------                    --------------    -----
 0   order_id                  1000123 non-null  object
 1   order_date                1000123 non-null  object
 2   order_year                1000123 non-null  int64
 3   order_month               1000123 non-null  int64
 4   order_day                 1000123 non-null  int64
 5   order_hour                1000123 non-null  int64
 6   order_minute              1000123 non-null  int64
 7   order_second              1000123 non-null  int64
 8   is_weekend                1000123 non-null  object
 9   order_status              1000123 non-null  object
 10  return_reason             99879 non-null    object
 11  customer_id               1000123 non-null  object
 12  customer_name             1000123 non-null  object
 13  gender                    1000123 non-null  object
 14  age                       1000123 non-null  int64
 15  customer_segment          1000123 non-null  object
 16  country                   1000123 non-null  object
 17  city                      1000123 non-null  object
 18  customer_loyalty_score    1000123 non-null  float64
 19  total_orders_by_customer  1000123 non-null  int64
 20  account_creation_date     1000123 non-null  object
 21  product_id                1000123 non-null  object
 22  product_name              1000123 non-null  object
 23  category                  1000123 non-null  object
 24  sub_category              1000123 non-null  object
 25  brand                     1000123 non-null  object
 26  product_rating_avg        1000123 non-null  float64
 27  product_reviews_count     1000123 non-null  int64
 28  stock_quantity            1000123 non-null  int64
 29  unit_price_usd            1000123 non-null  float64
 30  quantity                  1000123 non-null  int64
 31  discount_percent          1000123 non-null  int64
 32  discount_amount_usd       1000123 non-null  float64
 33  total_price_usd           1000123 non-null  float64
 34  cost_usd                  1000123 non-null  float64
 35  profit_usd                1000123 non-null  float64
 36  tax_usd                   1000123 non-null  float64
 37  currency                  1000123 non-null  object
 38  payment_method            1000123 non-null  object
 39  payment_status            1000123 non-null  object
 40  installment_plan          1000123 non-null  object
 41  shipping_method           1000123 non-null  object
 42  shipping_cost_usd         1000123 non-null  float64
 43  delivery_days             1000123 non-null  int64
 44  shipping_country          1000123 non-null  object
 45  warehouse_location        1000123 non-null  object
 46  delivery_status           1000123 non-null  object
 47  rating                    1000123 non-null  int64
 48  review_sentiment          1000123 non-null  object
 49  customer_feedback         800506 non-null   object
 50  coupon_used               1000123 non-null  object
 51  coupon_code               500040 non-null   object
 52  campaign_source           1000123 non-null  object
 53  device_type               1000123 non-null  object
 54  traffic_source            1000123 non-null  object
 55  session_duration_minutes  1000123 non-null  float64
 56  pages_visited             1000123 non-null  int64
 57  abandoned_cart_before     1000123 non-null  object
 58  fraud_risk_score          1000123 non-null  float64
 59  profit_margin_percent     1000123 non-null  float64
 60  order_priority            1000123 non-null  object
 61  support_ticket_created    1000123 non-null  object
dtypes: float64(12), int64(15), object(35)
memory usage: 473.1+ MB

Check null columns

In [30]:
print(df0.columns[df0.isnull().any()])

Index(['return_reason', 'customer_feedback', 'coupon_code'], dtype='object')

Check null value

In [40]:
col_null_sum = df0.isnull().sum()

col_null_sum[col_null_sum > 0]

return_reason        900244
customer_feedback    199617
coupon_code          500083
dtype: int64

Shape of dataset

In [15]:
df0.shape

(1000123, 62)

Check duplicate value

In [19]:
df0.duplicated().sum()

np.int64(0)

## Select columns for EDA

In [41]:
cols = ['order_id',
        'order_date',
        'product_id',
        'category',
        'unit_price_usd',
        'quantity',
        'discount_percent',
        'discount_amount_usd',
        'total_price_usd',
        'cost_usd',
        'profit_usd',
        'customer_id',
        'account_creation_date',
        'total_orders_by_customer',
        'coupon_used',
        'coupon_code',
        'campaign_source'
        ]

In [42]:
df1 = df0[cols].copy()
df1.head()

,order_id,order_date,product_id,category,unit_price_usd,quantity,discount_percent,discount_amount_usd,total_price_usd,cost_usd,profit_usd,customer_id,account_creation_date,total_orders_by_customer,coupon_used,coupon_code,campaign_source
0,ORD-5A2JR,2024-02-03 04:31:57.621140,PRD-I5G4,Electronics,291.95,2,15,87.58,496.32,268.28,228.04,CUS-PLY8L,2022-07-09,30,No,NaN,Email
1,ORD-C4O76,2024-02-03 04:33:50.281606,PRD-2IHW,Health,27.17,4,15,16.30,92.38,49.04,43.34,CUS-ZU9Q2,2021-09-26,40,No,NaN,Organic
2,ORD-MIP58,2024-02-03 04:34:13.452841,PRD-5JLE,Electronics,417.90,3,5,62.68,1191.02,827.07,363.95,CUS-QY61Z,2022-01-30,2,Yes,CPN-2H2,Organic
3,ORD-A9GBX,2024-02-03 04:34:14.421205,PRD-CMCX,Home,231.96,1,15,34.79,197.17,143.02,54.15,CUS-0WIYC,2022-05-05,45,Yes,CPN-S0X,Facebook
4,ORD-MI6OD,2024-02-03 04:35:56.872135,PRD-DRYT,Health,26.55,2,0,0.00,53.10,26.14,26.96,CUS-T4DSS,2021-07-16,20,Yes,CPN-DH5,Email

Derived core transaction columns

In [53]:
df1['gmv'] = df1['unit_price_usd'] * df1['quantity']
df1['is_promo'] = np.where(df1['discount_percent'] > 0, 1, 0)
df1['promo_depth_bucket'] = pd.cut(df1['discount_percent'],
                                   bins=[-1, 0, 10, 20, 40, 100],
                                   labels=['No Promo', 'Low', 'Medium', 'High', 'Extreme']
                                   )

In [57]:
df1[(df1['promo_depth_bucket']=='No Promo') & (df1['is_promo']==1)]

Empty DataFrame
Columns: [order_id, order_date, product_id, category, unit_price_usd, quantity, discount_percent, discount_amount_usd, total_price_usd, cost_usd, profit_usd, customer_id, account_creation_date, total_orders_by_customer, coupon_used, coupon_code, campaign_source, gmv, is_promo, promo_depth_bucket]
Index: []

Derived customer segmentation columns

In [ ]:
# Ensure order_date is a datetime
df1['order_date'] = pd.to_datetime(df1['order_date'])

# Compute first order date per customer and tenure in days
first_order = df1.groupby('customer_id')['order_date'].transform('min')
df1['customer_tenure_days'] = (df1['order_date'] - first_order).dt.days

# Compute days since previous order for each customer
# Uses groupby.shift(1) to get the previous order_date within each customer
last_order = df1.groupby('customer_id')['order_date'].shift(1)
df1['days_since_last_order'] = (df1['order_date'] - last_order).dt.days
# For first orders the value will be NaN. If you prefer 0 for first orders uncomment below:
df1['days_since_last_order'] = df1['days_since_last_order'].fillna(0).astype(int)
# Quick check
df1[['customer_id','order_date','days_since_last_order']].head(10)

  customer_id                 order_date  days_since_last_order
0   CUS-PLY8L 2024-02-03 04:31:57.621140                      0
1   CUS-ZU9Q2 2024-02-03 04:33:50.281606                      0
2   CUS-QY61Z 2024-02-03 04:34:13.452841                      0
3   CUS-0WIYC 2024-02-03 04:34:14.421205                      0
4   CUS-T4DSS 2024-02-03 04:35:56.872135                      0
5   CUS-A2A2T 2024-02-03 04:36:20.378297                      0
6   CUS-EX7LC 2024-02-03 04:37:36.076123                      0
7   CUS-TC621 2024-02-03 04:37:43.672476                      0
8   CUS-XKVBG 2024-02-03 04:37:50.848316                      0
9   CUS-M6Z8C 2024-02-03 04:40:06.403975                      0

In [71]:
df1[df1['days_since_last_order']>0][['customer_id','order_date','days_since_last_order']]

       customer_id                 order_date  days_since_last_order
11383    CUS-EU3UR 2024-02-11 10:44:14.767471                      2
17272    CUS-ZZJOJ 2024-02-15 15:24:27.426214                      1
20347    CUS-E56U9 2024-02-17 21:07:12.774525                      3
21792    CUS-5VORH 2024-02-18 21:18:19.663393                     13
22637    CUS-D3LRX 2024-02-19 12:15:41.449466                      5
...            ...                        ...                    ...
999756   CUS-TC9JQ 2026-02-02 09:09:13.384364                     82
999905   CUS-VNV67 2026-02-02 12:05:53.616473                    715
999922   CUS-KMFWK 2026-02-02 12:24:48.561664                     93
999928   CUS-4TJUH 2026-02-02 12:30:32.009547                     30
999929   CUS-K3JF3 2026-02-02 12:30:39.975744                     84

[8157 rows x 3 columns]

In [64]:
df1[df1['customer_tenure_days']>0]

,order_id,order_date,product_id,category,unit_price_usd,quantity,discount_percent,discount_amount_usd,total_price_usd,cost_usd,...,customer_id,account_creation_date,total_orders_by_customer,coupon_used,coupon_code,campaign_source,gmv,is_promo,promo_depth_bucket,customer_tenure_days
11383,ORD-ANN75,2024-02-11 10:44:14.767471,PRD-6ZIZ,Sports,232.35,3,10,69.70,627.35,367.89,...,CUS-EU3UR,2024-01-15,49,Yes,CPN-DGN,Organic,697.05,1,Low,2
17272,ORD-GX68U,2024-02-15 15:24:27.426214,PRD-U8DJ,Home,283.95,5,5,70.99,1348.76,631.55,...,CUS-ZZJOJ,2021-07-30,31,Yes,CPN-73C,Instagram,1419.75,1,Low,1
20347,ORD-QRUOM,2024-02-17 21:07:12.774525,PRD-D0J4,Clothing,94.31,2,10,18.86,169.76,99.68,...,CUS-E56U9,2021-04-07,36,No,NaN,Google Ads,188.62,1,Low,3
21792,ORD-0MTEO,2024-02-18 21:18:19.663393,PRD-ZR26,Home,242.93,4,5,48.59,923.13,655.72,...,CUS-5VORH,2022-07-24,12,No,NaN,Instagram,971.72,1,Low,13
22637,ORD-4D5WJ,2024-02-19 12:15:41.449466,PRD-SHXM,Electronics,461.57,1,5,23.08,438.49,228.97,...,CUS-D3LRX,2022-07-17,31,No,NaN,Affiliate,461.57,1,Low,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999756,ORD-CHARI,2026-02-02 09:09:13.384364,PRD-IVZ6,Sports,125.79,1,5,6.29,119.50,64.43,...,CUS-TC9JQ,2024-11-23,11,Yes,CPN-6RN,Affiliate,125.79,1,Low,82
999905,ORD-AAV12,2026-02-02 12:05:53.616473,PRD-UQ3C,Health,35.78,4,10,14.31,128.81,72.04,...,CUS-VNV67,2025-12-15,49,No,NaN,Organic,143.12,1,Low,715
999922,ORD-XO587,2026-02-02 12:24:48.561664,PRD-WMMS,Home,56.50,5,0,0.00,282.50,115.05,...,CUS-KMFWK,2023-03-26,41,No,NaN,Affiliate,282.50,0,No Promo,93
999928,ORD-NZOJ8,2026-02-02 12:30:32.009547,PRD-ORHI,Electronics,200.51,5,15,150.38,852.17,525.00,...,CUS-4TJUH,2025-10-20,35,Yes,CPN-4GV,Organic,1002.55,1,Medium,280
999929,ORD-LAG0X,2026-02-02 12:30:39.975744,PRD-R4SC,Health,152.23,1,0,0.00,152.23,106.02,...,CUS-K3JF3,2021-06-12,6,No,NaN,Affiliate,152.23,0,No Promo,84